.DS_Store
Thumbs.db
/input-cache
/output
/temp
/template
ImplementationGuide-modul-finding.json
menu.xml
_genonce*
_updatePublisher*
ig.ini 
_gencontinuous.bat
_gencontinuous.sh
fsh-generated/resources/ImplementationGuide-modul-symptom.json
